.footer {
  background-color: #222;
  color: #fff;
  padding: 3em;
  text-align: center;
}

.socialList {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.socialList li {
  margin: 0 1em;
  font-size: 2em;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.socialList a:hover {
  color: #24db49;
  cursor: pointer;
}

.copyright {
  margin-top: 2em;
}

.copyright span {
  font-weight: bold;
  color: #24db49;
}
